.works-numbers {
	min-height: 685px;
	background: url('../img/numbers-bg.jpg') center no-repeat;
	background-size: 100% 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	@media (max-width: 980px) { min-height: 400px}
	&__info {
		width: 90%;
		text-align: center;
		@media (max-width: 980px) { width :100%;}
	}
	&__block {
		margin-top: 64px;
		display: flex;
		justify-content: center;
		@media (max-width: 980px) { margin-top: 10px;}
		@media (max-width: 768px) { flex-direction: column;}
	}
	&__item {
		flex: 0 0 33.333%;
		padding: 20px 13px;
		box-sizing: border-box;
		text-align: left;
		display: flex;
		flex-direction: column;
		opacity: 0;
		transform: translateY(-35%);
		transition-duration: 1.5s;
		@media (max-width: 480px) { padding: 10px 0;}
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
	}
	&__year {
		font-size: 21px;
		font-weight: 600;
		margin: 15px 0 8px;
		@media (max-width: 768px) { margin: 0; line-height: 27px;}
	}
	&__subtitle {
		font-size: 21px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.works-projects {
	padding: 115px 15px 73px;
	@media (max-width: 980px) { padding: 50px 15px 0;}
	@media (max-width: 768px) { padding-top: 20px;}
	&__item {
		opacity: 0;
		display: flex;
		margin-bottom: 45px;
		&:nth-child(2n) {
			@media (min-width: 769px) {
				.works-projects__right {
					order: -1;
					text-align: right;
				}
				.works-projects__info {
					margin: 0 auto 0 100px;
					@media (max-width: 1200px) { margin: 0;}
				}
			}
		}
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
			margin-bottom: 25px;
		}
	}
	.projectAnimationLeft {
	  	-webkit-animation-name: serviceLeft;
	  	animation-name: serviceLeft;
	  	animation-duration: 2s;
	  	animation-fill-mode: forwards;
	}
	.projectAnimationRight {
	  	-webkit-animation-name: serviceRigh;
	  	animation-name: serviceRigh;
	  	animation-duration: 2s;
	  	animation-fill-mode: forwards;
	}
	&__body {
		flex: 0 1 50%;
		display: flex;
		align-items: center;
		@media (max-width: 1200px) { justify-content: center;}
	}
	&__info {
		width: 355px;
		box-sizing: content-box;
		margin: 0 100px 0 auto;
		text-align: center;
		@media (max-width: 1200px) { margin: 0;}
		@media (max-width: 768px) { width: 95%;}
	}
	&__date {
		font-weight: 700;
		font-size: 16.67px;
	}
	&__title {
		font-weight: 700;
		font-size: 20.8px;
	}
	&__text {
		font-size: 16.67px;
		line-height: 24px;
		margin-top: 37px;
		@media (max-width: 768px) { margin: 15px 0;}
	}
	&__right {
		flex: 0 1 50%;
		line-height: 0;
	}
	&__image {
		display: inline-block;
		img {	display: block; width: 100%;}
	}
}

.works-info {
	background-color: #aa15b6;
	padding: 75px 0;
	@media (max-width: 980px) { padding: 50px 0;}
	@media (max-width: 768px) { padding: 20px 0;}
	&__block {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1100px) { justify-content: center;}
		@media (max-width: 768px) { flex-wrap: wrap;}
	}
	&__item {
		flex: 0 1 20%;
		padding: 6px 0 3px 20px;
		border-left: 7px solid #fff;
		@media (max-width: 1100px) { flex: 0 1 33.333%;}
		@media (max-width: 768px) { 
			flex: 0 1 70%; 
			line-height: 24px;
			&:not(:last-child) { margin-bottom: 15px;}
		}
		@media (max-width: 480px) { flex: 0 1 90%;}
	}
	&__text {
		font-weight: 700;
		font-size: 16.67px;
	}
	&__date {
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 1px;
	}
}

.works-review {
	padding: 45px 0 10px;
	@media (max-width: 768px) { padding-top: 20px;}
	.wrap { position: relative;}
	&__arrow {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(-20%,-50%);
		background-color: #e866f3;
		box-shadow: 0 0 30px #5f0375;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 10;
		transition-duration: 0.5s;
		.arrow-icon { fill: #fff;}
		&-prev {	transform: translate(20%,-50%) rotate(180deg);	left: 0;}
		&:hover { background-color: #aa15b6; box-shadow: 0 0 30px #e866f3;} 
		&:active, &:focus { background-color: #5f0375;}
		@media (max-width: 768px) { 
			top: 0%;
			width: 50px;
			height: 50px;
			.arrow-icon { width: 25px; height: 25px;}
			transform: translate(-100%,-20%);
			&-prev {	transform: translate(100%,-20%) rotate(180deg);	left: 0;}
		}
	}
	.disabled {
			cursor: auto;
			opacity: 0.3;
			&:hover { background-color: #e866f3; box-shadow: 0 0 30px #5f0375;}
			&:active, &:focus { background-color: #e866f3;}
		}
	&__block {
		display: flex;
		width: 65%;
		margin: 0 auto;
		overflow: hidden;
		@media (max-width: 980px) { width: 80%;}
		@media (max-width: 768px) { width: 100%; padding: 0 10px 10px;}
	}
	&__item {
		flex: 0 0 100%;
		text-align: center;
		position: relative;
		&:not(:first-child) { opacity: 0;}
		transition-duration: 1.5s;
	}
	&__image {
		width: 24px;
		height: 21px;
		margin: 0 auto;
		img { display: block; max-width: 100%;}
	}
	&__text {
		margin: 27px 0 14px;
		@media (max-width: 576px) { line-height: 24px;}
	}
	&__author {	font-weight: 700;}
	&__socials {
		margin: 35px 0;
		text-align: center;
		@media (max-width: 576px) { margin: 15px 0;}
	}
	&__link {
		display: inline-block;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background-color: #c7c5c7;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
		&:not(:last-child) { margin-right: 20px;}
		@media (max-width: 480px) { 
			width: 40px; 
			height: 40px;
			&:not(:last-child) { margin-right: 10px;}
		}
		img {
			display: block;
			width: 28px;
			height: 28px;
			transition: 0.5s;
			@media (max-width: 480px) { width: 20px; height: 20px;}
		}
		&:hover { 
			background-color: #e866f3; 
			box-shadow: 0 0 30px #5f0375;
		}
		&:active, &:focus { 
			background-color: #5f0375; 
			box-shadow: 0 0 30px #e866f3;
			img { filter: invert(1);}
		}
	}
}